.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.image {
  border-radius: 20px;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 200px;

  /* background-color: var(--color-guide-g); */
}

.title {
  font-weight: 600;
  font-size: 1.15rem;
}

.resume {
  font-size: 1.13rem;
}

.price {
  align-self: flex-end;
  height: 40px;
  width: 125px;
  background-color: var(--color-button);
  font-weight: 600;
  font-size: x-large;
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 0.5px solid var(--color-dark);
}
