.container {
  background-color: var(--color-bg);
  width: 100vw;
  min-width: 350px;
  max-width: 700px;
  margin: 0 auto;
}

.header {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 1rem;
  position: relative;
}

.header::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: var(--color-guide-b);
  position: absolute;
  left: 0;
  bottom: -49px;
  border-radius: 0 0 -50%;
}

.title {
  font-size: 4rem;
  margin: 0;
  color: var(--color-white);
  font-family: var(--font-family);
}

.main {
  display: flex;
  height: calc(100vh - 17rem);
  background-color: var(--color-white);
}

.footer {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg);
}
