.container {
  width: 100vw;
  height: 100vh;
  min-width: 350px;
  max-width: 700px;
  display: grid;
  grid-template-rows: 8rem 1fr 10rem;
  margin: 0 auto;
}

.header {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.title {
  font-size: 4rem;
  margin: 0;
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 400;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
}

.main-text {
  margin: 0;
  padding: 1rem;
  position: absolute;
  background-color: #222a;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3.8rem;
  color: var(--color-white);
}

.footer {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.rrss {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.facebook {
  background: url("https://api.iconify.design/bi/facebook.svg?color=white") no-repeat center center / contain;
  width: var(--icon-size);
  height: var(--icon-size);
}

.twitter {
  background: url("https://api.iconify.design/bi/twitter.svg?color=white") no-repeat center center / contain;
  width: var(--icon-size);
  height: var(--icon-size);
}

.instagram {
  background: url("https://api.iconify.design/bi/instagram.svg?color=white") no-repeat center center / contain;
  width: var(--icon-size);
  height: var(--icon-size);
}

.tiktok {
  background: url("https://api.iconify.design/bi/tiktok.svg?color=white") no-repeat center center / contain;
  width: var(--icon-size);
  height: var(--icon-size);
}

.youtube {
  background: url("https://api.iconify.design/bi/youtube.svg?color=white") no-repeat center center / contain;
  width: var(--icon-size);
  height: var(--icon-size);
}

.go {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.icon {
  background: url("https://api.iconify.design/bi/arrow-right-circle-fill.svg?color=white") no-repeat center center / contain;
  width: var(--icon-size);
  height: var(--icon-size);
}
